<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active" style="padding-right: 3em"
            >
                <a class=" nav-link " [routerLink]="['home'] ">Home</a>
            </li>
            <li class="nav-item" routerLinkActive="active" style="padding-right: 3em"
            >
                <a class=" nav-link " [routerLink]="['empleadoId'] ">Búsqueda por Id</a>
            </li>
            <li class="nav-item " routerLinkActive="active ">
                <a class="nav-link " [routerLink]="['busquedaGeneral'] ">Búsqueda general</a>
            </li>
            <li class="nav-item " routerLinkActive="active" style="padding-left: 3em"
            >
                <a class="nav-link " [routerLink]="['altaEmpleado'] ">Alta empleado</a>
            </li>
            <li class="nav-item " routerLinkActive="active" style="padding-left: 3em"
            >
                <a class="nav-link " [routerLink]="['listaEmp'] ">Lista empleados</a>
            </li>
        </ul>
    </div>
</nav>