<div class="container">
    <h2 style="padding-bottom: .5em">Búsqueda de empleado por Id</h2>

    <form (ngSubmit)="enviarId(formId)" #formId="ngForm">
        <div>
            <div class="form-group row">
                <label class="col-2 col-form-label">Id Empleado: </label>
                <div class="col-4">
                    <input class="form-control" type="text" placeholder="Id" ngModel name="id" required #id="ngModel">
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label">&nbsp;</label>
            <div class="input-group col-md-4">
                <button type="submit" class="btn btn-outline-primary" [disabled]="!formId.valid"> Enviar</button>
            </div>

        </div>

        <!-- Respuesta -->
        <div class="respuesta" *ngIf="respuesta">
            <div class="form-group row">
                <label class="col-2 col-form-label">Nombre: </label>
                <div class="col-4">
                    <input class="form-control" type="text" ngModel name="nombre" [(ngModel)]="this.data.nombre" disabled>
                </div>
            </div>
            <div>
                <div class="form-group row">
                    <label class="col-2 col-form-label">Apellido1: </label>
                    <div class="col-4">
                        <input class="form-control" type="text" ngModel name="apellido1" [(ngModel)]="this.data.apellido1" disabled>
                    </div>
                </div>
            </div>
            <div>
                <div class="form-group row">
                    <label class="col-2 col-form-label">Apellido2: </label>
                    <div class="col-4">
                        <input class="form-control" type="text" ngModel name="apellido2" [(ngModel)]="this.data.apellido2" disabled>
                    </div>
                </div>
            </div>
            <div>
                <div class="form-group row">
                    <label class="col-2 col-form-label">Dirección: </label>
                    <div class="col-4">
                        <input class="form-control" type="text" ngModel name="direccion" [(ngModel)]="this.data.direccion" disabled>
                    </div>
                </div>
            </div>
            <div>
                <div class="form-group row">
                    <label class="col-2 col-form-label">CP: </label>
                    <div class="col-4">
                        <input class="form-control" type="text" ngModel name="cp" [(ngModel)]="this.data.cp" disabled>
                    </div>
                </div>
            </div>
            <div>
                <div class="form-group row">
                    <label class="col-2 col-form-label">Población: </label>
                    <div class="col-4">
                        <input class="form-control" type="text" ngModel name="poblacion" [(ngModel)]="this.data.poblacion" disabled>
                    </div>
                </div>
            </div>
            <div>
                <div class="form-group row">
                    <label class="col-2 col-form-label">Provincia: </label>
                    <div class="col-4">
                        <input class="form-control" type="text" ngModel name="provincia" [(ngModel)]="this.data.provincia" disabled>
                    </div>
                </div>
            </div>
            <div>
                <div class="form-group row">
                    <label class="col-2 col-form-label">Teléfono: </label>
                    <div class="col-4">
                        <input class="form-control" type="text" ngModel name="telefono" [(ngModel)]="this.data.telefono" disabled>
                    </div>
                </div>
            </div>
            <div>
                <div class="form-group row">
                    <label class="col-2 col-form-label">Email: </label>
                    <div class="col-4">
                        <input class="form-control" type="text" ngModel name="email" [(ngModel)]="this.data.email" disabled>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="error" style="color:red">Id no válido</div>
    </form>
</div>