<div class="">
    <h2 *ngIf="!hayEmpleados">No hay empleados</h2>
    <div *ngIf="hayEmpleados">
        <h2 style="padding-bottom: .5em">Lista de Empleados</h2>
        <div style="padding: 3% 0">
            <table class="table table-hover" style="text-align: center; border: 1px solid silver">
                <thead style="background-color: #c4c8cc">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido1</th>
                        <th scope="col">Apellido2</th>
                        <th scope="col">Dirección</th>
                        <th scope="col">CP</th>
                        <th scope="col">Población</th>
                        <th scope="col">Provincia</th>
                        <th scope="col">Teléfono</th>
                        <th scope="col">Email</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let k of this.empleados | keys ; let i = index">
                        <!-- <th scope="row">{{ empleado.ID }}</th> -->
                        <!-- <td>{{ empleado.NOMBRE }}</td>
                        <td>{{ empleado.APELLIDO1 }}</td>
                        <td>{{ empleado.APELLIDO2 }}</td>
                        <td>{{ empleado.DIRECCION }}</td>
                        <td>{{ empleado.CP }}</td>
                        <td>{{ empleado.POBLACION }}</td>
                        <td>{{ empleado.PROVINCIA }}</td>
                        <td>{{ empleado.TELEFONO }}</td>
                        <td>{{ empleado.EMAIL }}</td> -->
                        <th scope="row">{{ this.empleados[k].ID }}</th>
                        <td>{{ this.empleados[k].NOMBRE }}</td>
                        <td>{{ this.empleados[k].APELLIDO1 }}</td>
                        <td>{{ this.empleados[k].APELLIDO2 }}</td>
                        <td>{{ this.empleados[k].DIRECCION }}</td>
                        <td>{{ this.empleados[k].CP }}</td>
                        <td>{{ this.empleados[k].POBLACION }}</td>
                        <td>{{ this.empleados[k].PROVINCIA }}</td>
                        <td>{{ this.empleados[k].TELEFONO }}</td>
                        <td>{{ this.empleados[k].EMAIL }}</td>

                        <td><button (click)="verEmpleado(this.empleados[k].ID)" class="btn btn-outline-success btn-block">
                Ver
              </button></td>
                        <td><button (click)="modificarEmpleado(this.empleados[k].ID)" class="btn btn-outline-primary btn-block">
                Modificar
              </button></td>

                        <td>
                            <button type="button" class="btn btn-outline-danger btn-block" (click)="openModal(template)">Borrar</button>

                            <ng-template #template>
                                <div class="modal-header">
                                    <h4 class="modal-title pull-left">Eliminar empleado</h4>
                                    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <div class="modal-body">
                                    ¿Realmente desea eliminar a {{this.empleados[k].NOMBRE}} {{this.empleados[k].APELLIDO1}} {{this.empleados[k].APELLIDO2}}?
                                    <div class="modal-delete-button">
                                        <button type="button" class="btn btn-danger" (click)="borrarEmpleado(this.empleados[k].ID, k)">Sí</button>
                                        <button type="button" class="btn btn-primary" (click)="modalRef.hide()">No</button>
                                    </div>
                                </div>
                            </ng-template>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>